.navigation {
  height: auto;
  padding-left: 0;

  &__item {
    height: 78px;
    padding-top: 30px;
    font-size: 17px;
    font-family: "OpenSansBold", "Arial", sans-serif;
    font-weight: 700;
    text-align: center;
    list-style-type: none;

    &--search,
    &--basket {
      height: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0 30px;
    }
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;

    &__item {
      padding-left: 50px;
    }

    &__basket,
    &__search {
      position: absolute;
      top: 0;
      left: 60%;
      padding-left: 0;
      padding-right: 0;
    }

    &__search {
      font-size: 0;
      left: 50%;
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }
}
