.merchandise-head {
  @media (min-width: $tablet) {
    display: flex;

    .merchandise-head__goods-name {
      flex-basis: 100%;
      font-size: 43px;

      @media (min-width: $desktop) {
        padding-left: 6%;
        font-size: 53px;
        z-index: 1;
      }
    }

    &__goods-day {
      padding-top: 45px;
      text-align: center;
    }
  }

  @media (min-width: $desktop) {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  &__goods-name,
  &__goods-day {
    margin-bottom: 0;
    font-size: 25px;
    font-family: "OpenSansBold", "Arial", sans-serif;
  }

  &__goods-day {
    margin-top: 0;
    color: #63d1bb;
    font-size: 17px;
    text-transform: uppercase;
  }
}
