.navigation-bar {
  height: auto;
  border-bottom: 1px solid #ececec;

  &--closed .navigation {
    display: none;
  }

  &--opened .navigation {
    display: block;
  }

  &__toggle {
    position: relative;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url("../img/icon-menu-close.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  &__first-block {
    height: 80px;
    padding-right: 30px;
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
    background-image: url("../img/logo-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet) {
      background-image: url("../img/logo-tablet.svg");
      background-position: left;
      background-position-x: 50px;
      border-bottom: 1px solid #e7e7e7;
    }
  }
}
