.merchandise {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;

  &__text {
    padding: 0;
  }

  &__text-info {
    font-size: 15px;
    line-height: 24px;
    font-family: "OpenSans", "Arial", sans-serif;
  }

  &__img img {
    width: 100%;
  }

  &__form,
  &__form-table {
    padding: 0;
    padding-bottom: 28px;

    tbody {
      border-collapse: collapse;
    }
  }

  &__form-table td {
    font-size: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 55px;
    border-bottom: 1px solid #ececec;
  }

  .merchandaise__form-padding {
    padding-right: 0;
  }

  &__form-price {
    padding: 28px 66px;
    color: #444444;
    font-size: 17px;
    font-family: "OpenSansBold", "Arial", sans-serif;
    font-weight: 700;
    text-align: center;
  }

  &__form-btn {
    padding-top: 18px;
    padding-bottom: 18px;
    text-transform: uppercase;
    font-size: 17px;
    font-family: "OpenSansBold", "Arial", sans-serif;
    color: #444444;
    border: 2px solid #444444;
    background-color: white;
  }

  @media (min-width: $tablet) {
    &__text {
      width: 250px;
    }

    &__form {
      flex-direction: column;
      flex-wrap: wrap;

      picture {
        position: absolute;
        padding-left: 355px;
      }
    }

    &__form-price {
      width: 260px;
    }

    &__form-btn {
      width: 280px;
      flex-direction: row;
    }

    &__block {
      display: flex;
      flex-direction: column;
      padding-bottom: 50px;
      background-image: url("/img/bg-zigzag-line.svg");
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }

  @media (min-width: $desktop) {
    &__text {
      width: 300px;
      padding-left: 14%;
    }

    &__form-table {
      padding-left: 15%;
    }

    &__form {
      picture {
        top: 100%;
        padding-left: 50%;
      }
    }

    &__form-price {
      margin-left: 15%;
    }

    &__form-btn {
      margin-left: 15%;
    }
  }
}

